{% extends 'layout/layout.html' %}
{% load static %}
{% block boby %}
<style>
    .card{
        display: inline;
    }
</style>
<div class="row">
    <p class="display-3">{{data.title}}</p>
    <p class="h4">{{data.author.username}}</p>
    <p class="h5">{{data.publication_date}}</p>

    <div class="col-lg-6">
        <img src="{{ data.images.url }}" class="w-100" alt="" srcset="">
    </div>
    <div class="col-lg-6">
        {% if average_rating %}
        <p class="text-warning h5"> ★ Average Rating: {{ average_rating.rating__avg }}</p>
        {% else %}
            <p>No ratings yet.</p>
        {% endif %}
        <form action="/api/blograting/{{data.id}}" method="post">{% csrf_token %}
            <div class="card">
                <span onclick="gfg(1)" class="star">★</span>
                <span onclick="gfg(2)" class="star">★</span>
                <span onclick="gfg(3)" class="star">★</span>
                <span onclick="gfg(4)" class="star">★</span>
                <span onclick="gfg(5)" class="star">★</span>
                <h3 id="output">Rating is: 0/5</h3>
                <input type="hidden"  name="rating" id="rating" class="form-control" />
                <input type="submit" value="submit" class="btn btn-primary">
            </div>
            {% if msg %}
            <div class="text-danger">{{msg}}</div>
            {% endif %}
        </form>
        {{data.content}}
    </div>
</div>
<script>
    // script.js

// To access the stars
let stars = document.getElementsByClassName("star");
let output = document.getElementById("output");
let count = document.getElementById("rating");

// Funtion to update rating
function gfg(n) {
	remove();
	for (let i = 0; i < n; i++) {
		if (n == 1) cls = "one";
		else if (n == 2) cls = "two";
		else if (n == 3) cls = "three";
		else if (n == 4) cls = "four";
		else if (n == 5) cls = "five";
		stars[i].className = "star " + cls;
	}
	output.innerText = "Rating is: " + n + "/5";
    document.getElementById('rating').value = n;
    //$('#rating').val(n); 
}

// To remove the pre-applied styling
function remove() {
	let i = 0;
	while (i < 5) {
		stars[i].className = "star";
		i++;
	}
}

</script>
{% endblock %}